<a href="https://colab.research.google.com/github/BlackSiru/Data-Analysis-with-Open-Source/blob/main/%EC%98%A4%ED%94%88%EC%86%8C%EC%8A%A4_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EB%B6%84%EC%84%9D_4%EA%B0%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>



# 오픈소스 기반 데이터 분석 4강 - 데이터 수집

## 4-1 CSV 파일 읽기

In [ ]:
import pandas as pd

## data.csv 파일 읽기

print(df)

## 4-2 JSON 파일 읽기

In [ ]:
import json
import pandas as pd

## data.json 파일 출력

## data.json 파일 DataFrame 읽기

print(df)

## 4-3 텍스트 파일 읽기 및 데이터 추출

In [ ]:
import re

## 파일(callcenter20250301.log) 오픈 및 읽기
with open('callcenter20250301.log', 'r', encoding='utf-8') as f:
    content = f.read()
## 주민등록번호 패턴 생성

## 주민등록번호 마스킹


## 마스킹된 파일(callcenter20250301_masked.log) 오픈 및 쓰기


print("주민등록번호 마스킹 완료. 'callcenter20250301_masked.log.txt' 파일로 저장되었습니다.")

## 4-4 Open-Meteo의 무료 날씨 API를 통한 특정 지역 온도 조회

In [ ]:
import requests
import json

url = "https://api.open-meteo.com/v1/forecast?=&=&current=temperature_2m"
params = {
    "latitude": "37.58638333",
    "longitude": "127.0203333",
    "current": "temperature_2m"
}

try:
    ## URL 및 파라미터 전송

    ## JSON 데이터 읽기

    print("API 응답:", data)
    print("서울시 종로구의 현재 온도는 : {0}{1} 입니다.".format(data['current']['temperature_2m'], data['current_units']['temperature_2m']))

except requests.exceptions.RequestException as e:
    print(f"API 호출 실패: {e}")
except json.JSONDecodeError as e:
    print(f"JSON 파싱 실패: {e}")

## 4-5 Selenium과 lxml을 이용한 웹 스크래핑

In [ ]:
!curl -o google-chrome-stable_current_amd64.deb https://dl.google.com/linux/direct/google-chrome-stable_current_amd64.deb
!apt install ./google-chrome-stable_current_amd64.deb -y
!pip install selenium webdriver_manager

In [ ]:
from selenium import webdriver
from selenium.webdriver.chrome.service import Service as ChromeService
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By
from lxml import html
import time

chrome_options = webdriver.ChromeOptions()
chrome_options.add_argument('--headless')               # 브라우저 창 없이 실행
chrome_options.add_argument('--no-sandbox')             # 보안모드 비활성화 (Colab 필수)
chrome_options.add_argument('--disable-dev-shm-usage')  # 메모리 부족 방지 (Colab 필수)
chrome_options.add_argument('--window-size=1920x1080')  # 창 크기 설정(가상)
chrome_options.add_argument('--disable-gpu')            # GPU 가속 비활성화 (일부 환경 안정성)
chrome_options.binary_location = "/usr/bin/google-chrome-stable"  # Colab용 크롬 경로 지정

## 드라이버 실행
driver = webdriver.Chrome(options=chrome_options)

## 사이트 접속


## 사이트 접속 대기


## 페이지 제목 출력


## 드라이버 종료
driver.quit()


# 실습 시나리오

## 공공데이터 포털 가입 및 데이터 신청

- [https://www.data.go.kr](https://www.data.go.kr)
- 한국환경공단 에어코리아 대기오염정보 데이터 신청

In [ ]:
import requests

## 데이터 수집 url 및 api key 설정
url = 'http://apis.data.go.kr/B552584/ArpltnInforInqireSvc/getCtprvnRltmMesureDnsty'
api_key = '발급받은인증키'

params = {
    'serviceKey': api_key,
    'returnType': 'json',
    'numOfRows': '100',
    'pageNo': '1',
    'sidoName': '서울',
    'ver': '1.0'
}

## 데이터 수집
response = requests.get(url, params = params)

## 호출 성공/실패 출력
if response.status_code == 200:
    print('API 호출 성공')
    print(response.json())
else:
    print(f'API 호출 실패:{response.status_code}')

In [ ]:
import requests

## 데이터 수집 url 및 api key 설정

api_key = '544b5145596d756337324c73597576'

service = 'energyUseDataSummaryInfo'
start_index = '1'
end_index = '5'
year = '2015'
mon = '01'

url = f"http://openapi.seoul.go.kr:8088/{api_key}/json/{service}/{start_index}/{end_index}/{year}/{mon}"


## 데이터 수집
response = requests.get(url, params = params)

## 호출 성공/실패 출력
if response.status_code == 200:
    print('API 호출 성공')
    print(response.json())
else:
    print(f'API 호출 실패:{response.status_code}')

API 호출 성공
{'energyUseDataSummaryInfo': {'list_total_count': 7, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2015', 'MON': '01', 'MM_TYPE': '개인', 'CNT': '767791', 'EUS': '193784708', 'EUS1': '194781915', 'EUS2': '204969429', 'ECO2_1': '-6090964', 'ECO2_2': '-2582568.736', 'GUS': '59133720', 'GUS1': '57163993', 'GUS2': '68297619', 'GCO2_1': '-3597086', 'GCO2_2': '-8057472.64', 'WUS': '12819757.886', 'WUS1': '12723680.426', 'WUS2': '12899476.73', 'WCO2_1': '8179.308', 'WCO2_2': '2715.530256', 'HUS': '22740838.937', 'HUS1': '23400055.303', 'HUS2': '27090493.875', 'HCO2_1': '-2504435.652', 'HCO2_2': '-33660084.213069', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '학교', 'CNT': '1382', 'EUS': '134955565', 'EUS1': '128707423', 'EUS2': '145561511', 'ECO2_1': '-2178902', 'ECO2_2': '-923854.448', 'GUS': '9107197', 'GUS1': '8410968', 'GUS2': '10745416', 'GCO2_1': '-470995', 'GCO2_2': '-1055028.8', 'WUS': '2075819.2', 'WUS1': '2097433.8', 'WUS2': '2133200.8', 'WCO2_1': '-39498.1', 'WCO2_2': '-13113.3692', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '종교단체', 'CNT': '32', 'EUS': '372270', 'EUS1': '363376', 'EUS2': '411363', 'ECO2_1': '-15099.5', 'ECO2_2': '-6402.188', 'GUS': '53331', 'GUS1': '45727', 'GUS2': '63312', 'GCO2_1': '-1188.5', 'GCO2_2': '-2662.24', 'WUS': '5945', 'WUS1': '4548', 'WUS2': '4519', 'WCO2_1': '1411.5', 'WCO2_2': '468.618', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '소상공인', 'CNT': '2058', 'EUS': '10249618', 'EUS1': '9927610', 'EUS2': '11039593', 'ECO2_1': '-233983.5', 'ECO2_2': '-99209.004', 'GUS': '536119', 'GUS1': '523810', 'GUS2': '642921', 'GCO2_1': '-47246.5', 'GCO2_2': '-105832.16', 'WUS': '147273', 'WUS1': '146480.6', 'WUS2': '147325.6', 'WCO2_1': '369.9', 'WCO2_2': '122.8068', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}, {'YEAR': '2015', 'MON': '01', 'MM_TYPE': '공동주택관리소', 'CNT': '1747', 'EUS': '327102096', 'EUS1': '329852334', 'EUS2': '351694752', 'ECO2_1': '-13671447', 'ECO2_2': '-5796693.528', 'GUS': '22834274', 'GUS1': '21141017', 'GUS2': '25338506', 'GCO2_1': '-405487.5', 'GCO2_2': '-908292', 'WUS': '12844807.5', 'WUS1': '12763070', 'WUS2': '12979835.8', 'WCO2_1': '-26645.4', 'WCO2_2': '-8846.2728', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2015-06-04 17:03:55.0'}]}}

In [ ]:
import requests
import pprint # JSON 출력을 보기 좋게 하기 위함

## 데이터 수집 url 및 api key 설정

# 1. 올바른 형식의 API 키를 변수에 저장합니다. (특수문자 제거)
api_key = '544b5145596d756337324c73597576'

# 2. URL에 필요한 정보들을 각각의 변수로 정의합니다.
service = 'energyUseDataSummaryInfo'
start_index = '1'
end_index = '5'
year = '2015'
month = '01'

# 3. f-string을 사용하여 깨끗하고 올바른 URL을 만듭니다.
url = f"http://openapi.seoul.go.kr:8088/{api_key}/json/{service}/{start_index}/{end_index}/{year}/{month}"

print(f"요청 URL: {url}\n")

## 데이터 수집
# 4. params 인자 없이, 생성된 url만 사용하여 API를 호출합니다.
try:
    response = requests.get(url)
    response.raise_for_status() # HTTP 오류 발생 시 예외를 일으킴

    ## 호출 성공/실패 출력
    data = response.json()

    # API 내부 응답 코드 확인
    # 성공 시 data 딕셔너리 안에 'RESULT' 키가 없을 수도 있으므로 get()을 사용
    result_info = data.get(service, {}).get('RESULT', {})

    if result_info.get('CODE') == 'INFO-000':
        print('✅ API 호출 성공')
        pprint.pprint(data)
    else:
        print(f"❌ API 호출 실패 (API 내부 오류)")
        print(f"오류 코드: {result_info.get('CODE')}")
        print(f"오류 메시지: {result_info.get('MESSAGE')}")

except requests.exceptions.HTTPError as e:
    print(f"❌ API 호출 실패 (HTTP 오류: {e.response.status_code})")
except requests.exceptions.RequestException as e:
    print(f"❌ API 호출 실패 (연결 오류: {e})")

요청 URL: http://openapi.seoul.go.kr:8088/544b5145596d756337324c73597576/json/energyUseDataSummaryInfo/1/5/2015/01

✅ API 호출 성공
{'energyUseDataSummaryInfo': {'RESULT': {'CODE': 'INFO-000',
                                         'MESSAGE': '정상 처리되었습니다'},
                              'list_total_count': 7,
                              'row': [{'CNT': '767791',
                                       'ECO2_1': '-6090964',
                                       'ECO2_2': '-2582568.736',
                                       'EUS': '193784708',
                                       'EUS1': '194781915',
                                       'EUS2': '204969429',
                                       'GCO2_1': '-3597086',
                                       'GCO2_2': '-8057472.64',
                                       'GUS': '59133720',
                                       'GUS1': '57163993',
                                       'GUS2': '68297619',
                                       'HCO2_1': '-2504435.652',
                                       'HCO2_2': '-33660084.213069',
                                       'HUS': '22740838.937',
                                       'HUS1': '23400055.303',
                                       'HUS2': '27090493.875',
                                       'MM_TYPE': '개인',
                                       'MON': '01',
                                       'REG_DATE': '2015-06-04 17:03:55.0',
                                       'WCO2_1': '8179.308',
                                       'WCO2_2': '2715.530256',
                                       'WUS': '12819757.886',
                                       'WUS1': '12723680.426',
                                       'WUS2': '12899476.73',
                                       'YEAR': '2015'},
                                      {'CNT': '1382',
                                       'ECO2_1': '-2178902',
                                       'ECO2_2': '-923854.448',
                                       'EUS': '134955565',
                                       'EUS1': '128707423',
                                       'EUS2': '145561511',
                                       'GCO2_1': '-470995',
                                       'GCO2_2': '-1055028.8',
                                       'GUS': '9107197',
                                       'GUS1': '8410968',
                                       'GUS2': '10745416',
                                       'HCO2_1': '0',
                                       'HCO2_2': '0',
                                       'HUS': '0',
                                       'HUS1': '0',
                                       'HUS2': '0',
                                       'MM_TYPE': '학교',
                                       'MON': '01',
                                       'REG_DATE': '2015-06-04 17:03:55.0',
                                       'WCO2_1': '-39498.1',
                                       'WCO2_2': '-13113.3692',
                                       'WUS': '2075819.2',
                                       'WUS1': '2097433.8',
                                       'WUS2': '2133200.8',
                                       'YEAR': '2015'},
                                      {'CNT': '32',
                                       'ECO2_1': '-15099.5',
                                       'ECO2_2': '-6402.188',
                                       'EUS': '372270',
                                       'EUS1': '363376',
                                       'EUS2': '411363',
                                       'GCO2_1': '-1188.5',
                                       'GCO2_2': '-2662.24',
                                       'GUS': '53331',
                                       'GUS1': '45727',
                                       'GUS2': '63312',
                                       'HCO2_1': '0',
                                       'HCO2_2': '0',
                                       'HUS': '0',
                                       'HUS1': '0',
                                       'HUS2': '0',
                                       'MM_TYPE': '종교단체',
                                       'MON': '01',
                                       'REG_DATE': '2015-06-04 17:03:55.0',
                                       'WCO2_1': '1411.5',
                                       'WCO2_2': '468.618',
                                       'WUS': '5945',
                                       'WUS1': '4548',
                                       'WUS2': '4519',
                                       'YEAR': '2015'},
                                      {'CNT': '2058',
                                       'ECO2_1': '-233983.5',
                                       'ECO2_2': '-99209.004',
                                       'EUS': '10249618',
                                       'EUS1': '9927610',
                                       'EUS2': '11039593',
                                       'GCO2_1': '-47246.5',
                                       'GCO2_2': '-105832.16',
                                       'GUS': '536119',
                                       'GUS1': '523810',
                                       'GUS2': '642921',
                                       'HCO2_1': '0',
                                       'HCO2_2': '0',
                                       'HUS': '0',
                                       'HUS1': '0',
                                       'HUS2': '0',
                                       'MM_TYPE': '소상공인',
                                       'MON': '01',
                                       'REG_DATE': '2015-06-04 17:03:55.0',
                                       'WCO2_1': '369.9',
                                       'WCO2_2': '122.8068',
                                       'WUS': '147273',
                                       'WUS1': '146480.6',
                                       'WUS2': '147325.6',
                                       'YEAR': '2015'},
                                      {'CNT': '1747',
                                       'ECO2_1': '-13671447',
                                       'ECO2_2': '-5796693.528',
                                       'EUS': '327102096',
                                       'EUS1': '329852334',
                                       'EUS2': '351694752',
                                       'GCO2_1': '-405487.5',
                                       'GCO2_2': '-908292',
                                       'GUS': '22834274',
                                       'GUS1': '21141017',
                                       'GUS2': '25338506',
                                       'HCO2_1': '0',
                                       'HCO2_2': '0',
                                       'HUS': '0',
                                       'HUS1': '0',
                                       'HUS2': '0',
                                       'MM_TYPE': '공동주택관리소',
                                       'MON': '01',
                                       'REG_DATE': '2015-06-04 17:03:55.0',
                                       'WCO2_1': '-26645.4',
                                       'WCO2_2': '-8846.2728',
                                       'WUS': '12844807.5',
                                       'WUS1': '12763070',
                                       'WUS2': '12979835.8',
                                       'YEAR': '2015'}]}}

In [4]:
import requests

## 데이터 수집 url 및 api key 설정

api_key = '544b5145596d756337324c73597576'
service = 'energyUseDataSummaryInfo'
start_index = '1'
end_index = '500'

##모든 데이터를 합칠 리스트 생성
all_data_list = []


## 데이터 수집
# --- 이제부터 데이터 수집을 시작합니다 ---

# 2015년부터 2024까지 반복
for year in range(2015, 2025):

    # 1월 ~ 12월까지 반복
    for month in range(1, 13):

        # 월을 01, 02와 같은 2자리 모양으로 생성
        month_string = f'{month:02d}'

        # API URL
        url = f"http://openapi.seoul.go.kr:8088/{api_key}/json/{service}/{start_index}/{end_index}/{year}/{month_string}"

        # 데이터 수집
        response = requests.get(url)

        # 월별 API 호출
        if response.status_code == 200:

            data = response.json()

            # json 데이터 안의 정보 가져오기
            if 'energyUseDataSummaryInfo' in data and 'row' in data['energyUseDataSummaryInfo']:

                # 데이터를 가져와서 리스트에 추가하기
                for item in data['energyUseDataSummaryInfo']['row']:
                    all_data_list.append(item)
            else:
                print(" -> 가져올 데이터가 없습니다.")
        else:
            # 호출 실패 여부
            print(f' -> API 호출 실패: {response.status_code}')

## 호출 성공/실패 출력
if response.status_code == 200:
    print('API 호출 성공')
    print(response.json())
else:
    print(f'API 호출 실패:{response.status_code}')

API 호출 성공
{'energyUseDataSummaryInfo': {'list_total_count': 7, 'RESULT': {'CODE': 'INFO-000', 'MESSAGE': '정상 처리되었습니다'}, 'row': [{'YEAR': '2024', 'MON': '12', 'MM_TYPE': '공동주택관리소', 'CNT': '3716', 'EUS': '548480228', 'EUS1': '557799290', 'EUS2': '559693904', 'ECO2_1': '-10266369', 'ECO2_2': '-10266369', 'GUS': '8221238', 'GUS1': '9759209', 'GUS2': '9093999', 'GCO2_1': '-1114991.5', 'GCO2_2': '-2229983', 'WUS': '20262147.7', 'WUS1': '20228097.5', 'WUS2': '20488646.8', 'WCO2_1': '-96224.45', 'WCO2_2': '-288673.35', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '기업', 'CNT': '19451', 'EUS': '633735769', 'EUS1': '641412053', 'EUS2': '669494932', 'ECO2_1': '-21717723.5', 'ECO2_2': '-21717723.5', 'GUS': '30096486', 'GUS1': '45742965', 'GUS2': '34384677', 'GCO2_1': '-9960022.5', 'GCO2_2': '-19920045', 'WUS': '4448777.4', 'WUS1': '4406465.4', 'WUS2': '4396396.4', 'WCO2_1': '47346.5', 'WCO2_2': '142039.5', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '개인', 'CNT': '1250620', 'EUS': '134828126', 'EUS1': '138280636', 'EUS2': '138879530', 'ECO2_1': '-3751957', 'ECO2_2': '-3504709', 'GUS': '42103424', 'GUS1': '47763373', 'GUS2': '46794290', 'GCO2_1': '-5135298', 'GCO2_2': '-10270596', 'WUS': '7326853.6', 'WUS1': '7440605', 'WUS2': '7625718.9', 'WCO2_1': '-206308.35', 'WCO2_2': '-573725.128', 'HUS': '1513199.277', 'HUS1': '1598857.184', 'HUS2': '1781397.386', 'HCO2_1': '-176928.008', 'HCO2_2': '-376996.699240516', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '공공기관', 'CNT': '2459', 'EUS': '152992881', 'EUS1': '161100765', 'EUS2': '162060905', 'ECO2_1': '-8587954', 'ECO2_2': '-8587954', 'GUS': '3814815', 'GUS1': '4485938', 'GUS2': '4347791', 'GCO2_1': '-601856', 'GCO2_2': '-1203712', 'WUS': '896842', 'WUS1': '854671.2', 'WUS2': '833317.4', 'WCO2_1': '52847.7', 'WCO2_2': '158543.1', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '학교', 'CNT': '6742', 'EUS': '164092999', 'EUS1': '170867152', 'EUS2': '169660376', 'ECO2_1': '-6170678', 'ECO2_2': '-6172770.32', 'GUS': '4362563', 'GUS1': '4794450', 'GUS2': '4840884', 'GCO2_1': '-452916.5', 'GCO2_2': '-905833', 'WUS': '1858841', 'WUS1': '1898794', 'WUS2': '1939698.4', 'WCO2_1': '-60405.2', 'WCO2_2': '-181607.796', 'HUS': '1062.62', 'HUS1': '902.03', 'HUS2': '1220.91', 'HCO2_1': '1.15', 'HCO2_2': '3.3315', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '소상공인', 'CNT': '53031', 'EUS': '101773064', 'EUS1': '105830842', 'EUS2': '106996097', 'ECO2_1': '-4640405.5', 'ECO2_2': '-4640315.356', 'GUS': '2544825', 'GUS1': '2719970', 'GUS2': '2842004', 'GCO2_1': '-234683', 'GCO2_2': '-469366', 'WUS': '1560686.6', 'WUS1': '1540086.6', 'WUS2': '1542971', 'WCO2_1': '19157.8', 'WCO2_2': '57349.338', 'HUS': '360', 'HUS1': '395', 'HUS2': '470', 'HCO2_1': '-72.5', 'HCO2_2': '-288.695', 'REG_DATE': '2025-03-01 04:02:55.0'}, {'YEAR': '2024', 'MON': '12', 'MM_TYPE': '종교단체', 'CNT': '847', 'EUS': '7922631', 'EUS1': '8361049', 'EUS2': '8016890', 'ECO2_1': '-266338.5', 'ECO2_2': '-266338.5', 'GUS': '309429', 'GUS1': '378759', 'GUS2': '355715', 'GCO2_1': '-57056.5', 'GCO2_2': '-114113', 'WUS': '51695', 'WUS1': '48661', 'WUS2': '48241', 'WCO2_1': '3244', 'WCO2_2': '9732', 'HUS': '0', 'HUS1': '0', 'HUS2': '0', 'HCO2_1': '0', 'HCO2_2': '0', 'REG_DATE': '2025-03-01 04:02:55.0'}]}}

In [7]:
#
import pandas as pd

# 2. 리스트에 저장된 데이터를 pandas DataFrame(표) 형태로 변환합니다.
# pd.DataFrame() 함수 안에 데이터가 담긴 리스트(all_data_list)를 넣어주면 됩니다.
df = pd.DataFrame(all_data_list)
df

,YEAR,MON,MM_TYPE,CNT,EUS,EUS1,EUS2,ECO2_1,ECO2_2,GUS,...,WUS1,WUS2,WCO2_1,WCO2_2,HUS,HUS1,HUS2,HCO2_1,HCO2_2,REG_DATE
0,2015,01,개인,767791,193784708,194781915,204969429,-6090964,-2582568.736,59133720,...,12723680.426,12899476.73,8179.308,2715.530256,22740838.937,23400055.303,27090493.875,-2504435.652,-33660084.213069,2015-06-04 17:03:55.0
1,2015,01,학교,1382,134955565,128707423,145561511,-2178902,-923854.448,9107197,...,2097433.8,2133200.8,-39498.1,-13113.3692,0,0,0,0,0,2015-06-04 17:03:55.0
2,2015,01,종교단체,32,372270,363376,411363,-15099.5,-6402.188,53331,...,4548,4519,1411.5,468.618,0,0,0,0,0,2015-06-04 17:03:55.0
3,2015,01,소상공인,2058,10249618,9927610,11039593,-233983.5,-99209.004,536119,...,146480.6,147325.6,369.9,122.8068,0,0,0,0,0,2015-06-04 17:03:55.0
4,2015,01,공동주택관리소,1747,327102096,329852334,351694752,-13671447,-5796693.528,22834274,...,12763070,12979835.8,-26645.4,-8846.2728,0,0,0,0,0,2015-06-04 17:03:55.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
835,2024,12,개인,1250620,134828126,138280636,138879530,-3751957,-3504709,42103424,...,7440605,7625718.9,-206308.35,-573725.128,1513199.277,1598857.184,1781397.386,-176928.008,-376996.699240516,2025-03-01 04:02:55.0
836,2024,12,공공기관,2459,152992881,161100765,162060905,-8587954,-8587954,3814815,...,854671.2,833317.4,52847.7,158543.1,0,0,0,0,0,2025-03-01 04:02:55.0
837,2024,12,학교,6742,164092999,170867152,169660376,-6170678,-6172770.32,4362563,...,1898794,1939698.4,-60405.2,-181607.796,1062.62,902.03,1220.91,1.15,3.3315,2025-03-01 04:02:55.0
838,2024,12,소상공인,53031,101773064,105830842,106996097,-4640405.5,-4640315.356,2544825,...,1540086.6,1542971,19157.8,57349.338,360,395,470,-72.5,-288.695,2025-03-01 04:02:55.0
839,2024,12,종교단체,847,7922631,8361049,8016890,-266338.5,-266338.5,309429,...,48661,48241,3244,9732,0,0,0,0,0,2025-03-01 04:02:55.0